@font-face {
    font-family: "Lato Light";
    src: url(/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "eurofurence";
    src: url(/fonts/eurof35.ttf);
}

@font-face {
    font-family: "champagne&limousines";
    src: url(/fonts/Champagne&Limousines.ttf);
}